{% extends 'base.html.twig' %}

{% block title %}{{ partenaire.titre }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/ckeditor.css') }}">
{% endblock %}

{% block body %}
    <section class="container">
        <article>
            {{ partenaire.contenu|raw }}
        </article>
    </section>
{% endblock %}
